
.header {
    height: 60px;
    overflow: hidden;
    min-width: 990px;
    background-color: #1976d2;
    line-height: 60px;
    color: #3C3C3C;
    font-family: Verdana, 微软雅黑,黑体;
    border: 0;
}

.header-right {
    float: right;
    padding-right: 10px;
    padding-top: 2px;
}

    .header-right a {
        color: #ffffff;
        margin-top: 14px;
    }


    .header-right .l-btn-plain .l-btn-text {
        color: #ffffff;
    }

.header-a {
    float: left;
    padding-right: 10px;
    padding-top: 5px;
}

.head-topmenu {
    height: 60px;
    line-height: 60px;
    text-align: right;
    width: 570px;
    font-size: 16px;
    position: absolute;
    right: 360px;
    float: left;
}

    .head-topmenu .line {
        width: 1px;
        height: 20px;
        background: #5fafff;
        display: inline-block;
        position: relative;
        top: 4px;
    }

    .head-topmenu li {
        float: left;
        margin: 0 2px;
        margin-top: 0px;
        margin-right: 2px;
        margin-bottom: 0px;
        margin-left: 2px;
        color: white;
    }

    .head-topmenu a {
        color: white;
        padding: 0 10px;
        margin-top: 15px;
        height: 24px;
        line-height: 24px;
        display: inline-block;
        border-radius: 3px;
        font-family: \5FAE\8F6F\96C5\9ED1;
    }
        .head-topmenu a.current {
            background: #c5ddf4!important;
            color: #1976d2!important;
        }

.dropDownMenu_li .icon-angle-down {
    background: url(/Assets/images/icon-OA-16-white.png) no-repeat;
    width: 16px;
    height: 16px;
    display: inline-block;
}

.dropDownMenu {
    position: absolute;
    top: 60px;
    right: 380px;
    z-index: 1000;
    display: none;
    list-style: none;
    font-size: 14px;
    padding: 0px 0;
    text-align: left;
    background-color: #fff;
    background-clip: padding-box;
    font-family: \5FAE\8F6F\96C5\9ED1;
    color: #555;
    width: 100px;
    border: 1px solid #ddd;
    border-top: 0;
}

    .dropDownMenu li {
        float: left;
        width: 100%;
    }

        .dropDownMenu li a {
            color: #455a64;
            width: 100%;
            display: inline-block;
            text-align: center;
            line-height: 30px;
            padding: 0;
            text-indent: -5px;
        }

            .dropDownMenu li a:hover {
                background: #f2f2f2;
            }

.head-left {
    margin-left: 0px;
    width: 200px;
    float: left;
    padding-left: 0px;
    background-color: #2586e6;
    -webkit-box-shadow: 5px 0 5px rgba(0,0,0,.05);
    -moz-box-shadow: 5px 0 5px rgba(0,0,0,.05);
    box-shadow: 5px 0 5px rgba(0,0,0,.05);
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=90, Color='#1871c9')";
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=90, Color='#1871c9');
}

    .head-left span {
        font-size: 16px;
        font-weight: bolder;
        font-family: 'Microsoft YaHei' !important;
    }

.head-title-left {
    margin-left: 20px;
    width: 250px;
    float: left;
    padding-left: 0px;
}

    .head-title-left span {
        font-size: 18px;
        color: white;
        font-family: 'Microsoft YaHei' !important;
    }

.head-search {
    width: 180px;
    float: right;
}

.bottom-south {
    width: 100%;
    text-align: left;
    padding-left: 10px;
    height: 25px;
    line-height: 25px;
    overflow: hidden;
}
