@using Rookey.Frame.Common;
@{
    Layout = null;
    string webName = WebConfigHelper.GetCurrWebName();
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>注册 | @webName</title>
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="/Scripts/login/login.css" type="text/css">
</head>
<body>
    <div class="page-con" style="margin-top: -215px;">
        <div><span id="logo-text">@webName<label>v1.0<span class="logo-dot rotate"></span></label></span></div>
        <div>
            <form id="signup_form" method="post">
                <div style="margin-top: 25px; position: relative;">
                    <input name="username" id="username" value="" class="txt" type="text" placeholder="用户名">
                    <div id="usernameTip" class="error-tip"></div>
                </div>
                <div class="login-input" style="margin-top: 20px; position: relative;">
                    <input name="userpwd" id="userpwd" class="txt" type="password" placeholder="密码">
                    <div id="pwdTip" class="error-tip"></div>
                </div>
                <div class="login-input" style="margin-top: 20px; position: relative;">
                    <input name="useralias" id="useralias" class="txt" type="text" value="" placeholder="请输入不超过15位字符的昵称">
                    <div id="useraliasTip" class="error-tip"></div>
                </div>
                <div style="margin-top: 20px;">
                    <span id="signin_btn" onclick="DoReg();" class="button">立即注册</span>
                </div>
            </form>
        </div>
        <div class="signup"><a href="/User/Login.html">登录</a></div>
        <div style="margin: 20px 24px 0px 24px">
            <div class="sep">
                <div style="margin-top: -9px;">
                    <label>第三方账号注册</label></div>
            </div>
            <div style="position: relative;">
                <span id="weixin_login" onclick="login.paltform.weixin()" class="icons weixin"></span>&nbsp;&nbsp;
                <span onclick="login.paltform.login(&#39;qq&#39;)" class="icons qq"></span>&nbsp;&nbsp;
            </div>
        </div>
        <div style="font-size: 12px; margin-top: 16px;"><span>注册表示您已阅读和同意 <a href="http://v3.processon.com/tos">服务协议</a></span></div>
    </div>
    <div class="weixin-con" id="weixin_dlg">
        <div style="margin-top: 200px;">加载中...</div>
    </div>
   <script src="/Scripts/jquery/jquery-1.8.0.min.js" charset="UTF-8" type="text/javascript"></script>
    <script src="/Scripts/login/Reg.js" charset="UTF-8" type="text/javascript"></script>
</body>
</html>
